<div data-v-a9660e98="" class="box">
    <div data-v-a9660e98="" class="mark-box c-row c-row-middle-center" style="display: none">
        <span data-v-a9660e98="" class="item m-r-20">3</span><span data-v-a9660e98="" class="item m-l-20">6</span>
    </div>

    <!--div data-v-a9660e98="" class="mark-box1 c-row c-row-middle-center" style="display: none">
    <img data-v-a9660e98="" data-v-106b99c8="" src="/images/lossgift.png" class="item-volume" style="width: 331px;"/>
    </div-->
     
    <div data-v-a9660e98="" class="con-box">
        <div data-v-a9660e98="" class="color-box c-row c-row-between">
            <button data-v-a9660e98="" type="button" data-join="x" class="btn green">Green</button>
            <button data-v-a9660e98="" type="button" data-join="t" class="btn violet">Violet</button>
            <button data-v-a9660e98="" type="button" data-join="d" class="btn red">Red</button>
        </div>
    </div>
    <div data-v-a9660e98="" class="number-box action m-t-10 c-row c-row-between c-flex-warp">
        <button data-v-a9660e98="" type="button" class="item action c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="txt">0<img data-v-a9660e98="" data-v-106b99c8="" src="/images/n0.png" class="item-volume" style="width: 55px;position: absolute;margin-left: -32px;"/></span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="txt">1<img data-v-a9660e98="" data-v-106b99c8="" src="/images/n1.png" class="item-volume" style="width: 55px;position: absolute;margin-left: -29px;"/></span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="txt">2<img data-v-a9660e98="" data-v-106b99c8="" src="/images/n2.png" class="item-volume" style="width: 55px;position: absolute;margin-left: -29px;"/></span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="txt">3<img data-v-a9660e98="" data-v-106b99c8="" src="/images/n3.png" class="item-volume" style="width: 55px;position: absolute;margin-left: -29px;"/></span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="txt">4<img data-v-a9660e98="" data-v-106b99c8="" src="/images/n4.png" class="item-volume" style="width: 55px;position: absolute;margin-left: -29px;"/></span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="txt">5<img data-v-a9660e98="" data-v-106b99c8="" src="/images/n5.png" class="item-volume" style="width: 55px;position: absolute;margin-left: -29px;"/></span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="txt">6<img data-v-a9660e98="" data-v-106b99c8="" src="/images/n6.png" class="item-volume" style="width: 55px;position: absolute;margin-left: -29px;"/></span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="txt">7<img data-v-a9660e98="" data-v-106b99c8="" src="/images/n7.png" class="item-volume" style="width: 55px;position: absolute;margin-left: -29px;"/></span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="txt">8<img data-v-a9660e98="" data-v-106b99c8="" src="/images/n8.png" class="item-volume" style="width: 55px;position: absolute;margin-left: -29px;"/></span>
            </div>
        </button><button data-v-a9660e98="" type="button" class="item c-row c-row-middle-center m-b-10">
            <div data-v-a9660e98="" class="number c-row c-row-middle-center">
                <span data-v-a9660e98="" class="txt">9<img data-v-a9660e98="" data-v-106b99c8="" src="/images/n9.png" class="item-volume" style="width: 55px;position: absolute;margin-left: -29px;"/></span>
            </div>
        </button>
    </div>
    <div data-v-a9660e98="" class="c-row c-row-between random-box">
        <button data-v-a9660e98="" class="random">Random</button>
        <div data-v-a9660e98="" class="c-row">
            <div data-x="1" data-v-a9660e98="" class="item active"
                style="background-color: #235418; color: rgb(255, 255, 255)">
                X1
            </div>
            <div data-x="5" data-v-a9660e98="" class="item"
                style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0)">
                X5
            </div>
            <div data-x="10" data-v-a9660e98="" class="item"
                style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0)">
                X10
            </div>
            <div data-x="20" data-v-a9660e98="" class="item"
                style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0)">
                X20
            </div>
            <div data-x="50" data-v-a9660e98="" class="item"
                style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0)">
                X50
            </div>
            <div data-x="100" data-v-a9660e98="" class="item"
                style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0)">
                X100
            </div>
        </div>
    </div>
    <div data-v-a9660e98="" class="btn-box c-row">
        <button data-v-a9660e98="" data-join="l" class="item yellow">Big</button>
        <button data-v-a9660e98="" data-join="n" class="item green">Small</button>
    </div>
</div>


<!-- Loss popup -->
<button id="openPopup" style="opacity: 0;">Loss</button>

<!-- <div data-v-a9660e98="" id="popup" class="popup losspopup van-popup van-popup--center" style="display: none;">
    <div data-v-dc3f9366="" data-v-28738ead="" class="popup-content">
      <div data-v-dc3f9366=""class="close" onclick="closePopup()"&times;>
        <div data-v-dc3f9366="" style="position: fixed;top: 170px;left: 160px;font-size: large;font-weight: bold;">Sorry</div>
        <div data-v-dc3f9366="" style=" position: fixed; top: 237px; left: 42px;font-size: small;font-weight: bold;">Lottery results
          <div data-v-dc3f9366="" id="lossf" style=" position: fixed; top: 231px; left: 156px; font-size: small;font-weight: bold;background-color: #a5abd8; padding: 5px; border-radius: 10px;">Big</div>
          <div data-v-dc3f9366="" id="lossn" style=" position: fixed; top: 231px; left: 205px; font-size: small;font-weight: bold;background-color: #a5abd8; padding: 5px; border-radius: 10px;">7</div>
          <div data-v-dc3f9366="" id="lossc" style=" position: fixed; top: 231px; left: 226px; font-size: small;font-weight: bold;background-color: #a5abd8; padding: 5px; border-radius: 10px;">Green</div>
        </div>
        <div data-v-dc3f9366="">
          <div data-v-dc3f9366="" style="position: fixed;top: 321px;left: 155px;font-size: x-large;color: red;">Lose</div>
          <div data-v-dc3f9366="" style="position: fixed;top: 374px;left: 64px;font-size: small;font-weight: 900;">Period:1 minute <span id="lossp">2024070128381</span></div>
        </div>
        <span style="height: 20px;width: 20px;background-color: #bbb;border-radius: 50%;display: inline-block;position: fixed;top: 434px;left: 40px;font-size: small;"></span>
        <div data-v-dc3f9366="" style="position: fixed;top: 437px;left: 64px;font-size: medium;">
          <div data-v-dc3f9366="" class="acitveBtn">

          </div>
           5 seconds auto close
          </div>
           <div data-v-dc3f9366="" class="closeBtn">
           </div>
        </div>
        </div>
        <div data-v-a9660e98="" class="rule-box">
          <div data-v-a9660e98="" class="info">
            <img data-v-a9660e98="" data-v-106b99c8="" src="/images/lossgift12.png" class="item-volume" style="width: 331px;">
          </div>
        </div>
</div>

<div data-v-a9660e98="" class="winpopup van-popup van-popup--center" style="display: none; background-color: revert;">
    <div data-v-dc3f9366="" data-v-28738ead="">
      <div data-v-dc3f9366="">
        <div data-v-dc3f9366="" style="position: fixed;top: 157px;left: 114px;font-size: large;font-weight: bold;">Congratulations</div>
        <div data-v-dc3f9366="" style=" position: fixed; top: 237px; left: 42px;font-size: small;font-weight: bold;">Lottery results 
          <div data-v-dc3f9366="" id="winf" style=" position: fixed; top: 231px; left: 156px; font-size: small;font-weight: bold;background-color: #a5abd8; padding: 5px; border-radius: 10px;"></div>
          <div data-v-dc3f9366="" id="winn" style=" position: fixed; top: 231px; left: 205px; font-size: small;font-weight: bold;background-color: #a5abd8; padding: 5px; border-radius: 10px;"></div>
          <div data-v-dc3f9366="" id="winc" style=" position: fixed; top: 231px; left: 226px; font-size: small;font-weight: bold;background-color: #a5abd8; padding: 5px; border-radius: 10px;"></div>
        </div>
        <div data-v-dc3f9366="">
          <div data-v-dc3f9366="" style="position: fixed;top: 298px;left: 147px;font-size: x-large;color: red;">Bonus</div>
          <div data-v-dc3f9366="" style="position: fixed;top: 335px;left: 147px;font-size: x-large;" id="wina"></div>
          <div data-v-dc3f9366="" style="position: fixed;top: 374px;left: 64px;font-size: small;font-weight: 900;">Period:1 minute <span id="winp"></span></div>
        </div>
        <span style="height: 20px;width: 20px;background-color: #bbb;border-radius: 50%;display: inline-block;position: fixed;top: 434px;left: 40px;font-size: small;"></span>
        <div data-v-dc3f9366="" style="position: fixed;top: 437px;left: 64px;font-size: medium;">
          <div data-v-dc3f9366="" class="acitveBtn">
              
          </div>
           5 seconds auto close
          </div>
           <div data-v-dc3f9366="" class="closeBtn">
           </div>
          </div>
        </div>
        <div data-v-a9660e98="" class="rule-box">
          <div data-v-a9660e98="" class="info">
            <img data-v-a9660e98="" data-v-106b99c8="" src="/images/wingift (1).png" class="item-volume" style="width: 331px;">
            </div>
        </div>
</div> -->